* {
    font-family: 'Vazirmatn-Regular';
}

body {
    font-family: 'Vazirmatn-Regular';
}

@font-face {
    font-family: 'Vazirmatn-Regular';
    src: url('../Fonts/Vazirmatn-Regular.ttf') format('truetype');
}


